.DS_Store
bin
.aider*
test-results/
.envrc
.specstory/
chart/chartsmith/*.tgz
.direnv/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfvars
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfvars.backup
