{{- if .Values.postgresql.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secret
  labels:
    app: chartsmith
    component: postgresql
type: Opaque
stringData:
  {{- $pgUsername := .Values.postgresql.credentials.username | default "chartsmith" }}
  {{- $pgPassword := .Values.postgresql.credentials.password | default "development-password" }}
  {{- $pgDatabase := .Values.postgresql.credentials.database | default "chartsmith" }}
  username: {{ $pgUsername | quote }}
  password: {{ $pgPassword | quote }}
  database: {{ $pgDatabase | quote }}
{{- end }}
